{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARC | </title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    {% include 'import-css.html' %}

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
         <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title">
              <p class="site_title"><img src="{% static 'production/images/sidebar-logo.png' %}" id="sidebar-logo"> ARC</a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->

            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            {% include 'faculty-tech-sidebar.html' %}
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>

                <ul class="nav navbar-nav navbar-right">
                  <li class="">
                    <a href="{%url 'logout' %}">Log Out &nbsp;<i class="fa fa-sign-out-alt"></i></a>
                  </li>
                </ul>

                  <ul class="nav navbar-nav navbar-left">
                    <li id="welcome-banner">
                      Welcome! {{faculty.Name}}
                    </li>
                  </ul>

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">


            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Return Item</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					<form action="" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"> {% csrf_token %}

					    <div class="form-group" style="display: none;">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="uniqueid">Item ID
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" id="uniqueid" name="uniqueid" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
						</div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">

                        </div>
                      </div>
				
				
					<!-- IMPORTANT KIM -->
					<div id="smallitem" style="display:initial">
						<div align="center" >
							<h4 id="title_table" style="margin-top:0px;"><b>Borrower's Log</b></h4>
							<sup style="fonst-size: 6px;"><i>Note: Just scan the RFID of the Item and the Borrower's Log will update automatic</i></sup>
							<h5 id="itemname"></h5>
						</div>
						<div class="table-responsive">
						<table id="datatable-responsive" class="display table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" align="center">
							<thead style="background-color: #4CAF50;color:white">
							  <tr>
								<th class="column-title" id="date">Date Borrowed</th>
								<th class="column-title" id="name">ID Number</th>
								<th class="column-title" id="name">Borrower</th>
								<th class="column-title" id="qty">Quantity</th>
								<th class="column-title" id="lender">Lender</th>
								<th class="column-title">Action</th>
							  </tr>
							</thead>

							<tbody id="borrowerTableBody">
							</tbody>
						</table>
						</div>
					</div>
					
					<div id="modalReturnItem" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" id="close" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							  </button>
							  <h4 class="modal-title" id="myModalLabel">Return Item Summary</h4>
							</div>
							<div class="modal-body">
								<table class="table table-bordered">
									<thead>
										<th class="column-title">Borrower</th>
										<th class="column-title">ID Number</th>
										<th class="column-title">Item</th>
										<th class="column-title" >Quantity</th>
										<th class="column-title">Date Borrowed</th>
									</thead>
									<tbody id="modalTableBody">
									</tbody>
								</table>
								<div align="center">
									<div class="radio">
										<label>
											<input class="radio-pick" type="radio" checked="checked" value="complete" id="complete" name="optionsRadios"> Complete
										</label>
									</div>
									<div class="radio">
										<label>
											<input class="radio-pick" type="radio" value="damaged" id="damaged" name="optionsRadios"> Damaged
										</label>
									</div>
									<div class="form-group" style="max-width: 300px; display: none;" id="qtyDamagedArea">
										<label class="control-label col-md-6 col-sm-6 col-xs-12">Qty damaged</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input id="inputQtyDamaged" type="int" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
							  
							</div>

						  </div>
						</div>
					</div>
					
					<!-- IMPORTANT KIM -->
			  
			  
                  </div>
                </div>
              </div>
            </div>
			</form>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <!-- /footer content -->
      </div>
    </div>

	{% include 'import-js.html' %}

	<script>
	let rfidtag;
	if($('#damaged').is(':checked')) {
		value = 'damaged'; 
		$('#qtyDamagedArea').show(); 
	}
	else{
		value = 'complete'
	}
	$('.radio-pick').change(() =>{
		value = $(this).val();
		if (value === 'damaged'){
			$('#qtyDamagedArea').show();
		}
		else{
			$('#qtyDamagedArea').hide();
		}
	});
		
	window.onload = () =>{
		setInterval(() =>{
			$.ajax({
				url: 'ajax/rfidajax',
				type: 'GET',
				success: (response) =>{
					let data = JSON.parse(response);
					if(data['ready']==true){
						let elem = document.getElementById('uniqueid');
						elem.value = data['tag'];
						rfidtag = data['tag'];
						item.appendItemInformation(elem);
					}
				}
			});
		}, 1000);
	}
	
	let item = {
		appendItemInformation: (elem) =>{
			let id = elem.value;
			$.ajax({
				url: "/ajax/getBorrowed",
				method: "POST",
				data:{
					'id':id,
					'csrfmiddlewaretoken':$( 'input[name=csrfmiddlewaretoken]' ).val()
				},
				success: (data) =>{
					let parsedData = JSON.parse(data);
					console.log(parsedData)
					if (parsedData.length != 0){
						$('#itemname').empty();
						$('#borrowerTableBody').empty();
						$('#itemname').append('<b>Item Name: </b> &nbsp; '+parsedData[0].fields.ItemID[0] + " " + parsedData[0].fields.ItemID[1]+'')
						for  (let i = 0; i< parsedData.length; i++){
							let datetime = moment(parsedData[i].fields.DateTime).format('MMMM D, YYYY h:mm:ss a');
							$('#borrowerTableBody').append('\
								<tr>\
									<td>'+datetime+'</td>\
									<td>'+parsedData[i].fields.Borrower[2]+'</td>\
									<td>'+parsedData[i].fields.Borrower[0]+'</td>\
									<td align="right">'+parsedData[i].fields.Quantity+'</td>\
									<td>'+parsedData[i].fields.Admin[0]+'</td>\
									<td align="center">\
										<button data="'+ parsedData[i].fields.ItemID[0]+ " " + parsedData[i].fields.ItemID[1] +'" data1="'+parsedData[i].fields.ItemID[2]+'" data2="'+parsedData[i].fields.Quantity+'" data3="'+parsedData[i].fields.Borrower[0]+'" data4="'+parsedData[i].fields.Borrower[2]+'" data5="'+datetime+'" id="'+parsedData[i].pk+'" onclick="item.showModalReturn(this)" class="btn btn-danger"  data-toggle="modal" data-target="#modalReturnItem" type="button" >Return</button>\
									</td>\
								</tr>\
								')
							}
					}
				}
			});	
		},
		
		showModalReturn: (elem) =>{
			$('#inputQtyDamaged').val(elem.attributes.data2.nodeValue);
			$('.modal-footer').empty();
			$('.modal-footer').append('<button type="button" data="'+elem.attributes.data2.nodeValue+'" data1="'+elem.attributes.data1.nodeValue+'" onclick="item.returnItem(this)" class="btn btn-primary" id="'+elem.id+'">Confirm</button>');
			$('#modalTableBody').empty();
			$('#modalTableBody').append('\
				<tr>\
					<td>'+elem.attributes.data3.nodeValue+'</td>\
					<td>'+elem.attributes.data4.nodeValue+'</td>\
					<td>'+elem.attributes.data.nodeValue+'</td>\
					<td align="center"><input id="inputQty" value='+elem.attributes.data2.nodeValue+' style="max-width: 70px;"type="int" class="form-control"></td>\
					<td>'+elem.attributes.data5.nodeValue+'</td>\
				</tr>\
			');
			if (elem.attributes.data1.nodeValue !== 'small'){
				$('#inputQty').prop('disabled', 'disabled')
				$('#inputQtyDamaged').prop('disabled', 'disabled')
			}
		},
		
		returnItem: (elem) =>{
			new PNotify({
				title: 'Done Returning Item',
				type: 'success',
				styling: 'bootstrap3'
            });
			$('#itemname').empty();
			$('#borrowerTableBody').empty();
			$('#modalReturnItem').modal('hide');
			info = {id: elem.id, qty: elem.attributes.data.nodeValue, qtyReturn: $('#inputQty').val(), returnType: $('#selectValue').val()}
			$.ajax({
				url: "/ajax/returnItem",
				method: "POST",
				data:{
					'id': elem.id,
					'qty': elem.attributes.data.nodeValue, 
					'type': elem.attributes.data1.nodeValue, 
					'qtyReturn': $('#inputQty').val(),
					'returnType': value,
					'qytDamage': $('#inputQtyDamaged').val(),
					'rfidtag': rfidtag,
					'csrfmiddlewaretoken':$( 'input[name=csrfmiddlewaretoken]' ).val()
				}
			});
		}
	}
  </script>

  </body>
</html>
