{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARC | </title>

  {% include 'import-css.html' %}

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title">
              <p class="site_title"><img src="{% static 'production/images/sidebar-logo.png' %}" id="sidebar-logo"> ARC</a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->

            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            {% include 'faculty-tech-sidebar.html' %}
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>

                <ul class="nav navbar-nav navbar-right">
                  <li class="">
                    <a href="{%url 'logout' %}">Log Out &nbsp;<i class="fa fa-sign-out-alt"></i></a>
                  </li>
                </ul>

                  <ul class="nav navbar-nav navbar-left">
                    <li id="welcome-banner">
                      Welcome! {{faculty.Name}}
                    </li>
                  </ul>

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">
               <div class="page-title">
					<div class="title_left">
						<h2>Laboratory Report</h2>
					</div>
				</div>

			  <div style="margin-top:0px;" class="ln_solid"></div>
		    

				<!-- AUDIT -->
			  <div style="margin-top:3%;" id="audit">
				<div class="table-responsive">
				<table id="table1" class="display table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" align="center">
					<thead style="background-color: #4CAF50;color:white">
					  <tr>
						<th class="column-title">Timeslot</th>
						<th class="column-title">Total Slots</th>
						<th class="column-title">Taken Slots</th>
						<th class="column-title">Available Slots</th>
						<th class="column-title">Actions</th>
					  </tr>
					</thead>

					<tbody>
            {%for b in audit %}
            <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="actions"><button type="submit" name="user_id" value= class="btn btn-info">View</button>
            </tr>
            {%endfor%}
					</tbody>
				</table>
				</div>
			  </div>



			  
			  </div>


				<div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->

        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    {% include 'import-js.html' %}
	<script>

	$(document).ready(function() {
    $('table.display').dataTable();
} )	;
	</script>

  </body>
</html>
