{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARC | </title>

    {% include 'import-css.html' %}


  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
         <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title">
              <p class="site_title"><img src="{% static 'production/images/sidebar-logo.png' %}" id="sidebar-logo"> ARC</a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->

            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            {% include 'faculty-tech-sidebar.html' %}
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>

                <ul class="nav navbar-nav navbar-right">
                  <li class="">
                    <a href="{%url 'logout' %}">Log Out &nbsp;<i class="fa fa-sign-out-alt"></i></a>
                  </li>
                </ul>

                  <ul class="nav navbar-nav navbar-left">
                    <li id="welcome-banner">
                      Welcome! {{faculty.Name}}
                    </li>
                  </ul>

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">


            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Add Item</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <form action="" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="uid">Unique ID
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" id="uid" name="uid" class="form-control col-md-6 col-xs-12">
                          </div>
                        </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="itemname">Item Name
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="last-name" name="itemname" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="description" class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="description" class="form-control col-md-7 col-xs-12" type="text" name="description">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">Type
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="radio">
                            <label>
                              <input type="radio" id="bg" name="item_type" value="big"> Big
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" id="sm" name="item_type" value="small"> Small
                            </label>
                          </div>
                        </div>
                      </div>

					           <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="quantity">Quantity
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" id="quantity" name="quantity" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>




                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-12" align="center">
                          <button class="btn btn-default" type="button">Cancel</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <!-- /footer content -->
      </div>
    </div>

    {% include 'import-js.html' %}
    <script>

      $(document).ready(
  function() {

    setInterval(function() {
    $.ajax({url: 'ajax/rfidajax',
              type: 'GET',
              success: function(response) {
          var data = JSON.parse(response);
          if(data['ready']==true){

            var x = document.getElementById('uid');
            x.value = data['tag'];
          }

              }
          });
    }, 1000);
  });

	$("#bg").click( function()
	{
		console.log("big");
    var q = document.getElementById('quantity');
		q.value = 1;
		document.getElementById("quantity").disabled = true;
		console.log($('#quantity').val())
	});

	$("#sm").click( function()
	{
		console.log("small");
		$('#quantity').val('');
		$('#quantity').attr('placeholder','');
		document.getElementById("quantity").disabled = false;
		console.log($('#quantity').val())
	});
	</script>

{% block content %}
      {% for c in Check %}
        {% if c == 'Success' %}

          <script>
            new PNotify({
              title: 'Done Adding Item',
              text: '',
              type: 'success',
              styling: 'bootstrap3'
            });
          </script>

        {% endif %}
      {% endfor %}
    {% endblock %}

  </body>
</html>
