<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARC | </title>

  {% include 'import-css.html' %}

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
         <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title">
              <p class="site_title"><img src="images/sidebar-logo.png" id="sidebar-logo"> ARC</a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->

            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            {% include 'faculty-sidebar.html' %}
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>

                <ul class="nav navbar-nav navbar-right">
                  <li class="">
                    <a href="{%url 'logout' %}">Log Out &nbsp;<i class="fa fa-sign-out-alt"></i></a>
                  </li>
                </ul>

                  <ul class="nav navbar-nav navbar-left">
                    <li id="welcome-banner">
                      Welcome! {{faculty.Name}}
                    </li>
                  </ul>

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>View Residencies</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

								<!-- START Table-->
                <div class="row">
        					<div class="col-md-12 col-sm-12 col-xs-12">

        						<div class="clearfix">

                    <form method="POST" action="{% url 'Faculty/ViewResidencies'%}">{%csrf_token%}

          						<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead style="background-color: #4CAF50;color:white">
                          <tr>
                            <th style="width: 11%">ID Number</th>
                            <th style="width: 18%">Full Name</th>
                            <th style="width: 14%">Group Name</th>
                            <th style="width: 14%">Laboratory</th>
                            <th style="width: 10%">Actions</th>
                          </tr>
                        </thead>
                        <tbody>

                        {%for u in students%}
                          <tr>
                            <td>{{u.IDNumber}}</td>
                            <td>{{u.Name}}</td>
                            <td>{{u.group.GroupName}}</td>
                            <td>{{u.Laboratory.LaboratoryName}}</td>
                            <td class="actions"><button type="submit" name="user_id" value={{u.UserID}} class="btn btn-info">View</button>
                          </tr>
                        {%endfor%}
                        </tbody>
                      </table>

                    </form>

                    </div>
        					</div>

						      <!-- END Table-->


                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

    <!-- jQuery -->
    {% include 'import-js.html' %}

  </body>
</html>
