<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
	<h3>System Administrator</h3>
    <ul class="nav side-menu">

      <li><a href="{% url 'Admin/Calendar' %}"><i class="fa fa-home"></i>Home</a></li>


      <li><a><i class="fa fa-user-clock"></i>Set Up<span class="fas fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'Admin/ManageTerm' %}">Manage Term and Year</a></li>
          <li><a href="{% url 'Admin/AddLaboratory' %}">Manage Laboratories</a></li>

        </ul>
      </li>

      <li><a><i class="fa fa-user"></i>Accounts<span class="fas fa-chevron-down"></span></a>
        <ul class="nav child_menu">

          <li><a href="{% url 'Admin/ManageUsers' %}">Manage User Accounts</a></li>
          <li><a href="{% url 'Admin/EvaluateUser' %}">Evaluate Pending Users</a></li>

        </ul>
      </li>


      <li><a href="{% url 'Admin/Inbox' %}"><i class="fa fa-envelope"></i>Inbox</a></li>

    </ul>
  </div>
</div>
