{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ARC | </title>

    {% include 'import-css.html' %}

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title">
              <p class="site_title"><img src="{% static 'production/images/sidebar-logo.png' %}" id="sidebar-logo"> ARC</a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->

            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="{%url 'logout' %}">Log Out &nbsp;<i class="fa fa-sign-out-alt"></i></a>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-left">
                <li id="welcome-banner">
                  Welcome {{first_name}} {{last_name}}!
                </li>
              </ul>

            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <!--MODAL-->
          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="onload">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 align="left" class="modal-title"><img src="{% static 'production/images/googleauth.png' %}" height="30" width="75"></h4>
                  </div>
                  <div class="modal-body">
                   <div align="center"><img src="{% static 'production/images/logo.png' %}" height="80" width="150">
                   <h5><b> ARC would like to:</b></h5></div>
                   <hr>
                   <div align="center">
                    <img src="{% static 'production/images/user.png' %}" height="27" width="30"> View your basic profile info<br><br>
                    <img src="{% static 'production/images/user.png' %}" height="27" width="30"> View your email address<br><br>
                    <hr>
                    <p><b>By clicking <font color="blue">Allow</font>, you allow this app and Google to use your information <br>in accordance with their respective terms of service and privacy policies.</b></p>
                   </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Deny</button> <!--should redirect to login page -->
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Allow</button>
                  </div>
                </div>

              </div>
          </div>
          <!-- END OF MODAL-->

          <div class="">


            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Register Account</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					<form action="{% url 'register' %}" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}


                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="idnum">ID Number
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" name="idnum" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="fullname" class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="fullname" class="form-control col-md-7 col-xs-12" type="text" value="{{first_name}}" name="first_name" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="fullname" class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="fullname" class="form-control col-md-7 col-xs-12" type="text" value="{{last_name}}" name="last_name" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mobile Number
                        </label>
                        <div class="col-md-1 col-sm-1 col-xs-12">
							           <input class="form-control col-md-2 col-xs-12" type="text" disabled placeholder="+63">
						            </div>
						            <div class="col-md-5 col-sm-5 col-xs-12">
							           <input id="mobileno" name="mobileno" class="form-control col-md-5 col-xs-12" min="1000000000" max="9999999999" type="number">
						          </div>
                      </div>
                        <div class="form-group">
                                <label for="fullname" class="control-label col-md-3 col-sm-3 col-xs-12">Degree</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                     <select id="degree" name="degree" class="form-control" required>
                                        <option selected value="0"></option>    
                                       {%for d in degree%}
                                       <option value="{{d.DegreeID}}">{{d.DegreeName}}</option>
                                      {%endfor%}
                                    </select>
                                </div>
                            </div>
                      <div class="form-group">
                        <label for="remarks" class="control-label col-md-3 col-sm-3 col-xs-12">Remarks</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea class="form-control col-md-2 col-xs-12" type="text" name="remarks" style="resize:none;"></textarea>
                        </div>
                      </div>


                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-12" align="center">
                          <button class="btn btn-default" type="button">Cancel</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->

        <!-- /footer content -->
      </div>
    </div>

    {% include 'import-js.html' %}
    <script>
        $(window).load(function(){
                $('#onload').modal('show');
            });
    </script>
  </body>
</html>
